test.py
test2.py
test3.py
config.json
wx.png
wxautox_activate.py
/.gitignore

.claude/
.venv
venv/
venv2/
UI_default/
UI2/
UI3/
build/
dist/
源码/
__pycache__/
/releases/
logs/
wxauto_logs/
panel_logs/
memory/

*.zip
*.whl
*.exe
*.spec
*.ui
*.log

