test.py
test2.py
test3.py
config.json
wx.png
wxautox_activate.py

.claude/
.venv
venv/
venv2/
UI_default/
UI2/
UI3/
build/
dist/
源码/
__pycache__/
/releases/
logs/
wxauto_logs/

*.zip
*.whl
*.exe
*.spec
*.ui
*.log

